

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


header{
  width: 100%;
  box-shadow: 2px 2px 16px #ddd;
  background: rgb(245, 245, 245);
}

.middlePart{
  width: 100%;
  margin-top: 60px;
}

.outPut{
  margin-top: 200px;
}

.tdSubmit{
  display: flex;
  justify-content:space-between
}




